<!DOCTYPE html>
<html lang="en">

<head>
	<title>Name</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../styles/indexstyle.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>

<body>

<div class="container">

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="jumbotron">
				<h1>TitleTitleTitleTitleTitle</h1>
			</div>
			<div>
				
				<input type="image" id="button1" src="http://i.imgur.com/2INvOWo.png" width="100" height="100"></input>
			</div>
			
			
		</div>
		<div class="col-md=2"></div>
	</div>
	
<div id="backsheet"></div>
<div id="popupBox">
<h3>Popup</h3>
	<button id="button2" type="button">exit</button>
</div>
</div>



<script type="text/javascript">

$(document).ready(function() {

	$("#button1").click(function() {
		$("#popupBox").show();
		$("#backsheet").show();
	});
	$("#button2").click(function() {
		$("#popupBox").hide();
		$("#backsheet").hide();
	});
});
</script>
</body>
</html>